<% content_for :title, "Editing place" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-6">Editing place</h1>

  <%= render "form", place: @place %>

  <%= link_to "Show this place", @place,
              class: "ml-2 mt-4 rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium" %>

  <%= link_to "Back to places", places_path,
              class: "ml-2 mt-4 rounded-md px-3.5 py-2.5 bg-gray-700 hover:bg-gray-600 text-white inline-block font-medium" %>
</div>