<% content_for :title, "Places" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Places</h1>
    <%= link_to "New place", new_place_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="places" class="min-w-full">
    <% if @places.any? %>
      <% @places.each do |place| %>
        <%= render place %>
        <p>
          <%= link_to "Show this place", place, class: "ml-2 rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center my-10">No places found.</p>
    <% end %>
  </div>
</div>
